.up_float_button {
  position: fixed;
  border: none;
  right: 10px;
  border-radius: 10%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  z-index: 10;
  padding: 15px 45px;
  text-decoration: none;
}

.up_float_button:hover {
  transform: scale(1.1);
}

.up_float_button:focus {
  outline: none;
}
